


body{
    background-color:rgb(0, 0, 33);
   
}
.menu a{
   
color:white;
text-decoration: none;
font-size: 27px;
padding:30px 50px;
position: relative;
}
.logo:hover{
    color:rgb(7, 232, 52);
}
.menu a:hover{
    color:rgb(252, 177, 166);
    font-size: 32px;
}
#logo{
    margin-left: 7%;
    border-radius: 25px;
}
.register button{
    font-size: 20px;
    background-color:rgb(7, 232, 52);
    color:rgb(5, 5, 5);
    height:50px;
    width:150px;
    text-decoration:2px solid white;
}
nav{
    padding:0px,0px;
  
    height:50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt h2{
    text-decoration: none;
    color:white;
    font-size: 30px;
    text-align: center;
}
.header-txt h1,p{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:rgb(23, 235, 221);
    font-size: 20px;
    text-align: center;
}
.header-txt img{
   display: box;
   margin-left:350px;
   margin-right:50px;
   width: 50%;
   height:300px;
}
.roll{
    height: 100px;
    color: rgb(5, 242, 242);
    height:20px;
    font-size: 20px;
}
.header-txt a{
    text-align: center;
    color: white;
    text-decoration: none;
}
.image::before{
    border-radius:0px;
}
.image:hover{
    border-radius: 25%;
}
.slot{
 margin-left: 40%;
    font-size:35px;
    width:350px;
    background-color:rgb(7, 232, 52);
  
}
#text{
    margin-left: 35%;
    height: 100px;
    width: 400px;
    text-align:start;
    border:5px solid rgb(48, 238, 162);
}
#button{
    margin-left: 45%;
    background-color:rgb(7, 232, 52);
    color:rgb(5, 5, 5);
    height:30px;
 font-size: 20px;
    width:100px;
 
}
.feedback{
    text-align: center;
    font-size: 30px;
    color:white;
    
}